
@{
    ViewBag.Title = "About";
}



<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Kategoriler</p>
            <div class="list-group">
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Tümü</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Fantastik</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Bilim Kurgu</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Polisiye</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Felsefi</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Distopya/Ütopya</a>
            </div>
        </div> <!--category-->
        <div class="col-md-7 col-md-offset-1">
            
            <div class="row">
                <h2 align="center">Bize Dair</h2>
                <img width="500" height="200" src="~/Content/img/myhc_24232.jpg" class="center-block img-responsive img-thumbnail img-rounded  alt=""/>
                <hr/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida erat sit amet ligula eleifend congue eu ut dolor. Sed mattis tincidunt orci. Aenean sit amet neque congue, consectetur magna id, rhoncus neque. Aenean rhoncus nibh ac sem suscipit, in ultricies massa auctor. Nullam velit lacus, ornare sed nibh nec, scelerisque imperdiet ex. Maecenas gravida fringilla est, id mollis purus eleifend eu. Praesent sed venenatis risus.
                </p>
                <p>
                    Donec luctus nunc ipsum, in accumsan metus auctor ac. Aenean finibus velit non elit elementum, nec dignissim neque mollis. Phasellus at ante aliquet lectus pharetra fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sodales tortor quis arcu ultricies interdum. Ut porttitor lectus nec nisl tempor, molestie pharetra orci sollicitudin. Cras in augue in nisi lobortis rutrum a in felis. Maecenas a ornare nisl, eget posuere nisl. Nulla vel risus vestibulum tellus venenatis hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus placerat tempor sem et maximus. Duis et ex ut diam bibendum pretium quis eu ante. Pellentesque dapibus vestibulum erat sed convallis. Nulla malesuada tristique felis, id imperdiet ipsum efficitur et. Nullam vitae mattis leo.
                </p>
                <p>
                    In sed consectetur ante. Curabitur bibendum, velit a venenatis venenatis, sem dolor tempor nibh, at pulvinar diam dolor sed velit. Cras interdum tempus nisl eget dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce et venenatis lacus, quis fringilla diam. Ut molestie nisl sed urna elementum sollicitudin. Duis accumsan auctor aliquam. In eget nisi eleifend, egestas urna vitae, consequat neque. Curabitur semper eleifend odio, sed maximus ex bibendum in. Mauris non sem porta, ultricies leo eu, commodo metus. Proin faucibus interdum odio, sed condimentum est pharetra non.
                </p>
                <p>
                    Aliquam gravida fringilla elit a consequat. Integer varius ac felis vitae elementum. Phasellus molestie nunc non est elementum sagittis. Mauris eleifend ut urna nec ultrices. Quisque in magna ac massa tempus dapibus. Curabitur nec pharetra neque, ac pretium nisi. In interdum mauris mi, nec fermentum libero ultrices non. Nunc consequat odio eu luctus mollis. Aenean ultrices porttitor orci, et ultricies eros vehicula ut. Cras tincidunt justo in enim ultricies facilisis. Suspendisse a nibh gravida nulla venenatis fermentum et quis est. Nulla et suscipit diam. Vestibulum odio lectus, rutrum ac tempus ut, commodo eget erat.
                </p>
                <p>
                    Fusce scelerisque bibendum eros et placerat. Nulla eu vestibulum est, sit amet aliquet erat. Vestibulum maximus lacus id urna pharetra semper. Integer tristique accumsan justo hendrerit sollicitudin. Vivamus vel est sapien. Cras ultricies sed sem vitae faucibus. Vestibulum quam nisl, aliquam vel viverra malesuada, vehicula et metus.
                </p>
            </div>
        </div>
    </div>
</div>



