
@{
    ViewBag.Title = "Hesap Aktifleştirildi...";
}

<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">Yönlendiriliyorsunuz...</h1>
            </div>
            <div class="main-content">

                <div class="text-success">
                    <h2><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;Hesap Aktifleştirildi...</h2>
                    <hr />
                    <p class="text-justify">Hesabınız aktifleştirildi. Sizi aramızda görmekten dolayı mutluyuz.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    setTimeout(function() {
        window.location = "/Home/Index";
    }, 3000)
</script>

